@model Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
@Styles.Render("~/Content/css")
<link href="~/Content/login.css" rel="stylesheet" />

<div class="login-overlay">
    <div class="login-overlay-image"><img src="~/Content/Images/leaf_in_lawn.jpg" data-id="login-overlay-image" style="height: 100%; width: 100%"></div>
    <div class="login-overlay-bg"></div>
</div>
<div id="page-container" class="fade in">
    <div class="login login-main">
        <div class="login-header">
        </div>
        <div class="login-content">
            <div class="form-group btm-20" style="min-width: 370px">
                <img src="~/Content/Images/sg-main-full.png" style="width: 100%; margin-left: auto; margin-right:auto; display:block;" />
            </div>
           @using ( Html.BeginForm( "Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "loginForm" } ) ) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group btm-20">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control input-lg", @placeholder = "Username"})
                </div>
                <div class="form-group btm-20">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                </div>
                <div class="checkbox btm-20">
                    <label>
                        @Html.CheckBox("RememberMe") Remember Me
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
                </div>
                <div class="top-20">
                    Not a member yet? Click <a href='@Url.Action("Register","Account")'>here</a> to register.
                </div>
            }
        </div>
    </div>
</div>