@model Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Register";
    Layout = null;
}

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
@Styles.Render("~/Content/css")
<link href="~/Content/login.css" rel="stylesheet" />

<div class="login-overlay">
    <div class="login-overlay-image">
        <img src="~/Content/Images/3804-green-trees-grass-parks-fresh-new-hd-wallpaper.jpg" style="height: 100%; width: 100%" data-id="login-overlay-image">
    </div>
    <div class="login-overlay-bg"></div>
</div>
<div id="page-container" class="fade in">
    <div class="login login-main">
        <div class="login-header">
        </div>
        <div class="login-content">
            <div class="form-group btm-20" style="min-width: 370px">
                <img src="~/Content/Images/sg-main-full.png" style="width: 100%; margin-left: auto; margin-right:auto; display:block;" />
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registrationForm" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h3>Registration</h3>
                <div class="form-group btm-20">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control input-lg", @placeholder = "Username" })
                </div>
                <div class="form-group btm-20">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                </div>
                <div class="form-group btm-20">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password" })
                </div>
                <div class="form-group btm-20">
                    @Html.TextBoxFor(model => model.ProductKey, new { @class = "form-control input-lg", @placeholder = "Product Key" })
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Register</button>
                </div>
            }
        </div>
    </div>
</div>