@{
    ViewBag.Title = "SmartGrass";
    Layout = null;
}
<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="~/Content/landing.css" rel="stylesheet" />

<body data-spy="scroll" data-offset="500" data-target="#header-navbar">
<div id="header" class="header navbar navbar-transparent navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-target="#header-navbar" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="padding-bottom: 5px">
                <span class="brand-logo sg-logo">
                    <img src="~/Content/Images/sg-logo-trans.png" alt="" style="width: 35px" />
                </span>
                <span class="brand-name">
                    Smart<span class="font-primary">Grass</span>
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" data-click="scroll-to-target" data-toggle="dropdown">HOME</a></li>
                <li><a href="#about" data-click="scroll-to-target">ABOUT</a></li>
                <li><a href="#team" data-click="scroll-to-target">TEAM</a></li>
                <li><a href="#docs" data-click="scroll-to-target">DOCS</a></li>
                <li><a href="@Url.Action("Login", "Account")">LOGIN</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="home" class="content has-bg home backdrop-overlay">
    <div class="content-bg">
        <img src="~/Content/Images/summer-lawn-1920x1080.jpg" alt="Home"/>
    </div>
    <div class="container container-home" style="margin-top: -230px">
        <img src="~/Content/Images/sg-logo-trans.png" width="175"/>
        <h1>Welcome to SmartGrass</h1>
        <h3>Home Irrigation Control System</h3>
        <p>
            The SmartGrass home irrigation control system is the smart way to control any home's irrigation system remotely.<br>
            Would you like to know <a href="#about" data-click="scroll-to-target">more?</a>
        </p>
        <a href="#about" class="btn btn-success">Learn More</a>
        <a href="@Url.Action("Register", "Account")" class="btn btn-empty">Get Started</a><br>
        <br>
        or <a href="@Url.Action("Login", "Account")">login</a> if you are already registered
    </div>
</div>
<div id="about" class="content">
    <div class="container">
        <h1 class="header-content">About Us</h1>
        <p class="details">
            HICS is an intelligent home irrigation control system that utilizes soil moisture sensors to measure the amount of moisture present in the user’s lawn and use this information to water the lawn in an efficient way. Its purpose is to replace an existing sprinkler control system and allow users to control their home irrigation remotely through a web application that will scale to fit on a computer or mobile device.
            <br/>
            <br/>
            HICS uses a central control unit to read soil moisture levels and set watering schedules accordingly by interfacing directly with the users existing irrigation valves. The control unit allows users to remotely schedule or monitor their lawns by communicating with the HICS web application over the internet. Through the web application, users will be granted complete access to all the features that HICS offers while providing an intuitive and easy to use interface.
        </p>
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h3>Team Sponsors</h3>
                <p class="details">
                    Team SmartGrass is sponsored by the owner of <a href="http://www.nutsandboltstexas.com/">Nuts and Bolts Hardware</a>, Keith Aholt. SmartGrass is directed by Mike O'Dell and is a project for
                    the Computer Science and Engineering department at the <a href="http://www.uta.edu/uta/">University of Texas at Arlington.</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-6 sponsor-logo">
                <a href="http://www.nutsandboltstexas.com/">
                    <img src="~/Content/Images/Nuts&Bolts.png" style="margin-top: 25px"/>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 sponsor-logo">
                <a href="http://www.cse.uta.edu/"><img src="~/Content/Images/CSE1in.png"/></a>
            </div>
        </div>
    </div>
</div>
<div class="content has-bg">
    <div class="content-bg">
        <img src="~/Content/Images/green_grass_banner.jpg" alt="SmartGrass Banner">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 quote">
                @*<i class="fa fa-quote-left"></i> SmartGrass is the greatest thing <span class="font-primary">ever</span>!
                <i class="fa fa-quote-right"></i> - Darth Vader*@
                <i class="fa fa-quote-left"></i> SmartGrass is my <span class="font-primary">favorite</span> product on the Citadel.
                <i class="fa fa-quote-right"></i> <span style="font-size: 14px; color: #ddd">- Commander Shepard</span>
            </div>
        </div>
    </div>
</div>
<div id="team" class="content">
    <div id="main-container" class="container">
        <h2 class="header-content">The Team</h2>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-member">
                    <img src="~/Content/Images/billy-display.png" alt="Billy Haile-Mariam">
                    <div class="info">
                        <h3 class="member-name">Billy Haile-Mariam</h3>
                        <div class="role font-primary">Team Leader, Hardware</div>
                        <p>Computer Engineering</p>
                        <div class="profile">
                            <a href="https://www.linkedin.com/pub/belachew-haile-mariam/65/591/22"><i class="fa fa-linkedin-square fa-4"></i></a>
                            <a href="https://github.com/belachewhm"><i class="fa fa-github-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-member">
                    <img src="~/Content/Images/jeremiah-display.png" alt="Jeremiah O'Connor'">
                    <div class="info">
                        <h3 class="member-name">Jeremiah O'Connor</h3>
                        <div class="role font-primary">Web Developer, Document Master</div>
                        <p>Computer Science</p>
                        <div class="profile">
                            <a href="https://www.linkedin.com/pub/jeremiah-o-connor/93/434/8b2"><i class="fa fa-linkedin-square fa-4"></i></a>
                            <a href="https://github.com/streylight"><i class="fa fa-github-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-member">
                    <img src="~/Content/Images/gautam-display.png" alt="Gautam Adhikari">
                    <div class="info">
                        <h3 class="member-name">Gautam Adhikari</h3>
                        <div class="role font-primary">Risk Manager, Software Developer</div>
                        <p>Software Engineering</p>
                        <div class="profile">
                            <a href="https://www.linkedin.com/pub/gautam-adhikari/6b/156/3ab"><i class="fa fa-linkedin-square fa-4"></i></a>
                            <a href="https://github.com/gautamadh"><i class="fa fa-github-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-member">
                    <img src="~/Content/Images/tung-display.png" alt="Tung Vo">
                    <div class="info">
                        <h3 class="member-name">Tung Vo</h3>
                        <div class="role font-primary">Embeded Software Developer</div>
                        <p>Computer Science</p>
                        <div class="profile">
                            <a href="https://www.linkedin.com/pub/timothy-vo/b9/1a6/160"><i class="fa fa-linkedin-square fa-4"></i></a>
                            <a href="https://github.com/ngoctung4him"><i class="fa fa-github-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="docs" class="content has-bg">
        <div class="content-bg">
            <img src="~/Content/Images/sprinkler-1.jpg" style="height: 100%; width: 100%" alt="SmartGrass Banner">
        </div>
        <div class="container">
            <div class="row" style="color: #fff; text-align: center">
                <div class="col-md-6">
                    <h2 class="header-content" style="margin-bottom: 0; padding-bottom: 0; border-right: 1px solid">Documentation</h2>            
                </div>
                <div class="col-md-6 document-links">
                    <div class="col-md-offset-1 col-md-2">
                        <a href="~/Documents/SRS_SmartGrass_1.0.pdf" target="_blank"><i class="fa fa-file-text"></i>SRS</a>
                    </div>
                    <div class="col-md-2">
                        <a href="~/Documents/Team SmartGrass_ADS_2.0.pdf" target="_blank"><i class="fa fa-file-text"></i>ADS</a>
                    </div>
                    <div class="col-md-2">
                        <a href="~/Documents/SmartGrass_DDS_2.0.pdf" target="_blank"><i class="fa fa-file-text"></i>DDS</a>
                    </div>
                    <div class="col-md-2">
                        <a href="~/Documents/STP v1.2.pdf" target="_blank"><i class="fa fa-file-text"></i>STP</a>
                    </div>
                    <div class="col-md-2">
                        <a href="~/Documents/HICS-User Manual.pdf" target="_blank"><i class="fa fa-file-text"></i>User Manual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        var windowHeight = $(window).height();
        $('#home').height(windowHeight);
        
        $(window).scroll(function (event) {
            var scroll = $(window).scrollTop();
            if (scroll > 50) {
                $('#header').addClass('navbar-full');
            } else {
                $('#header').removeClass('navbar-full');
            }
            // Do something
        });
        //var body = {
        //    "SoilReadings": [
        //    {
        //        "SensorNumber": 1,
        //        "SoilMoisture": 1.0
        //    }, {
        //        "SensorNumber": 2,
        //        "SoilMoisture": 1.5
        //    },
        //    {
        //        "SensorNumber": 3,
        //        "SoilMoisture": 0.5
        //    }
        //    ],
        //    "ProductKey": "1234",
        //    "Temperature": 75.0,
        //    "Rain": 0
        //};


        //$.ajax({
        //    url: "http://localhost:64623/api/Sensors",
        //    contentType: "application/json",
        //    type: "POST",
        //    data: JSON.stringify(body),
        //    success: function (data) {
        //        console.log(data);
        //    }
        //});
    });
</script>